body{
	margin-left: 100px;
	background-color: black;
}
h1{
	height:200px;
	width:100%;
	color: white;
	text-align: center;
	text-decoration: underline;
	text-shadow: 3px 2px red;
	}
img{
	height:400px;
	width:25%;
  border-radius: 50%;
}
p,a,li,nav{
	color: white;
	text-align: center;
}
ul{
	list-style-type: none;
}
h2{
	color: white;
	text-align: center;
	text-shadow: 3px 2px red;
}
